.logo {
    font-size: 20px;
    /* Adjusts size */
    color: #333;
    /* Dark gray for contrast */
    text-decoration: none;
    /* Removes underline */
    transition: color 0.3s;
    /* Smooth transition for hover effect */
}

.logo:hover {
    color: #555;
    /* Lighter white on hover for visual feedback */
}

body {
    font-family: Arial, sans-serif;
    /* Sets the font for the page */
    line-height: 1.6;
    /* Increases line spacing for readability */
    padding: 20px;
    /* Adds padding around the content */
    margin: 0;
    background: #f4f4f4;
    /* Light grey background */
    color: #333;
    /* Dark grey text */
}

h1 {
    color: #333;
}

.policy {
    width: 80%;
    /* Limits the width of the container */
    max-width: 960px;
    /* Maximum width */
    margin: 20px auto;
    /* Centers the container */
    background: white;
    /* White background for the content area */
    padding: 20px;
    /* Padding inside the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow around the container */
}

h1,
h2,
h3 {
    color: #2a2a2a;
    /* Slightly darker grey for headings */
}

h1 {
    font-size: 24px;
    /* Larger font size for main title */
}

h2 {
    font-size: 20px;
    /* Size for secondary headings */
}

h3 {
    font-size: 18px;
    /* Size for tertiary headings */
}

p {
    margin: 0 0 10px;
    /* Space below paragraphs */
}

ul,
ol {
    margin: 0 0 10px 20px;
    /* Space below lists, and indent items */
}

a {
    color: rgb(0, 123, 255);
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* Adds underline on hover for links */
}

footer {
    text-align: center;
    /* Centers footer content */
    margin-top: 20px;
    /* Space above the footer */
    font-size: 0.9em;
    /* Smaller font size for footer */
}